<form>
    <fieldset>
        <legend>
            Add Event
        </legend>

        <ul>
            <li>
                <label
                    for = "txtTitle"
                >
                    Title
                </label>
                <input
                    type = "text"
                    id = "txtTitle"
                    name = "txtTitle"
                    [(ngModel)] = "event.title"
                >
            </li>

            <li>
                <label
                    for = "txtDescription"
                >
                    Description
                </label>
                <textarea
                    name = "txtDescription" 
                    id = "txtDescription"
                    cols = "30"
                    rows = "10"
                    [(ngModel)] = "event.description"
                ></textarea>
            </li>
            

            <li>
                <label
                    for = "txtStartDateTime"
                >
                    Start Date Time
                </label>
                <input
                    type = "datetime-local"
                    id = "txtStartDateTime"
                    name = "txtStartDateTime"
                    [(ngModel)] = "localStartDateTime"
                >
            </li>

            <li>
                <label
                    for = "txtEndDateTime"
                >
                    End Date Time
                </label>
                <input
                    type = "datetime-local"
                    id = "txtEndDateTime"
                    name = "txtEndDateTime"
                    [(ngModel)] = "localEndDateTime"
                >
            </li>

            <li>
                <label
                    for = "txtTelegramGroupId"
                >
                    telegram GroupId
                </label>
                <input
                    type = "text"
                    id = "txtTelegramGroupId"
                    name = "txtTelegramGroupId"
                    [(ngModel)] = "event.telegramGroupId"
                >
            </li>

            <li>
                <label
                    for = "txtTelegramGroupInviteLink"
                >
                    Telegram Group InviteLink
                </label>
                <input
                    type = "text"
                    id = "txtTelegramGroupInviteLink"
                    name = "txtTelegramGroupInviteLink"
                    [(ngModel)] = "event.telegramGroupInviteLink"
                >
            </li>

            <li>
                <label
                    for = "txtIsActive"
                >
                    Is Active
                </label>
                <input
                    type = "checkbox"
                    id = "IsActive"
                    name = "IsActive"
                    [(ngModel)] = "event.isActive"
                >
            </li>

            <li>
                <label
                    for = "txtTagList"
                >
                    TagList
                </label>
                <input
                    type = "text"
                    id = "txtTagList"
                    name = "txtTagList"
                    [(ngModel)] = "tagListString"
                >
            </li>
        </ul>

        <menu>
            <ul>
                <li>
                    <button
                        (click) = "saveEvent()"
                    >
                        Save
                    </button>
                </li>
            </ul>
        </menu>

    </fieldset>
</form>